.container{
    border: 1px solid #817979;
    max-width: 650px;
    margin: 0px auto;
    padding: 8px 30px 30px;
    text-align: center;
    min-height: 500px;
}
.search_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading_first{
    font-weight: 500;
    font-weight: 600;
}

.input_search input{
    height: 35px;
    width: 200px;
    padding: 0px 8px;
}
.input_search button {
    height: 35px;
    margin-left: 10px;
    width: 90px;
    font-weight: 500;
   font-size: 16px;
   cursor: pointer;

}
.today_pic{
    height: 360px;
    border: 1px solid #817979;
    margin: 20px 0px;
}
.today_pic img {
    height: 100%;
    width: 100%;
}
.hompage_bottom{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    font-size: 14px;
    font-weight: 400;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

@media only screen and (max-width: 600px) {
    .search_container{
      flex-direction: column-reverse;
    }
    .input_search{
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
    }
    .input_search button {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
      
    
    }
    
}